@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/* Header Start  */


/* Desktop css  */
.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.home,
.about,
.contactus,
.callus {
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 20px;
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  /* 1st */

  color: #212832;
}

.home:hover,
.about:hover,
.contactus:hover {
  color: #df6951;
}

.callus {
  border: 1px solid #212832;
  border-radius: 5px;
}
.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 830px) {
  
.home,
.about,
.contactus,
.callus {
  margin: 0 7px;
  padding: 10px 10px;}
  
}

@media screen and (max-width: 780px) {
  .mobile-menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .callus {
    color: none;
    background: none;
    border: none;
    border-radius: 0px;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #df6951;
    left: 0;
    top: 15%;
    transition: all 0.5 ease-out;
    width: 100%;
    z-index: 2;
  }

  .home,
  .about,
  .contactus,
  .callus {
    text-align: center;
    color: #ffffff;
    padding: 32px;
    width: 100%;
    transition: all 0.5 ease;
    
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    top: 45px;
    right: 25px;
  }
}
/* Header End  */

/* Contact Start */


.contactus-section{
  margin: 20px 0 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url("../img/Contactus2.svg");
  background-repeat: no-repeat;
  background-position: top right;
}


.contactForm {
  width: 380px;
  height: 379px;
  background: #ffffff;
  box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  z-index: 1;
 
}
.contactForm > form {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 50px 50px;
}

.contactForm > form > h4 {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  color: #3a556a;
  padding-bottom: 20px;
}


.contactForm > form > .inputArea{
  border: none;
  border-bottom: 1px solid #FFA90F;
  font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 19px;
padding: 10px;
margin-bottom: 10px;

}
.contactForm > form > .inputArea:focus{
 color: #212832;
 outline: none;
}
.contactForm > form >  button {
background: #FFA90F;
font-family: 'Rokkitt';
font-size: 20px;
color: #fff;
border-radius: 6px;
width: 50%;
border: none;
margin-top: 20px;
padding: 10px 30px;
font-weight: bold;
transition:background 1s ;
transition:color 1s ;

}
.contactForm > form >  button:hover{
  color: #FFA90F;
  border: 1px solid #FFA90F;
  background:none;
}



.contactInfo{
  width: 307px;
  z-index: 1;
}

.contactInfo > h4{
  
font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
color: #000000;
}

.contactInfo > .infoItems{
  margin-top: 20px;
  margin-left:-10px;
}

.contactInfo > .infoItems > .infoItem{
 padding: 10px;
 
}

.contactInfo > .infoItems > .infoItem > span{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 24px;
color: #000000;
}

.contactInfo > .infoItems > .infoItem > span > img{
  margin-right: 10px;
}

.contactInfo > .infoItems > .infoItem > address{
  margin-left: 40px;
  margin-top: 10px;
  color: #000000;

}

.contactInfo > .infoItems > .infoItem >  p{
  margin-left: 40px;
  margin-top: 10px;
  color: #000000;

}
.contactInfo > .infoItems > .infoItem >  p{
  margin-left: 40px;
  margin-top: 10px;
  color: #000000;

}
.contactInfo > .infoItems > .infoItem > p > a{
  color: #000000;
}


.contactInfo > .infoItems > .infoItem > p > a:hover{
  color: #FFA90F;
}
.contactUsImgLeft{
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 0;
  display: block;
}
@media screen and (max-width: 1000px) {
 
.contactForm > form {
  display: flex;
  flex-direction: column;
  padding: 10px 40px 50px 40px;
}

.contactUsImgLeft{
  display: none;
}

.contactus-section{
 background-position: 10px 10px; 
}
}


@media screen and (max-width: 780px) {


  .contactus-section{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactForm {
    width: 312px}

    .contactForm > form > button{
      width: 100%;
    }

    .contactInfo > .infoItems {
      margin-top: 22px;
      margin-left: 0px;
  }
  .contactInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
}
/* Contact End  */



/* subscription  */
.subscription-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 80px;
 background: url("../img/subscription-background.png");
 background-repeat: no-repeat;
 margin-left: 40px;
}

.subscription-div > p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 54px;
text-align: center;
color: #5E6282;
padding: 0 10rem 20px  10rem;


}

.subscription-div > .subscription-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-div > .subscription-form > .subscription {
  padding: 10px 25px;
  margin: 10px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
  border: none;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
border-radius: 10px;
border: 2px solid #FF7D68;
transition: all 0.5s ease-in-out;

}

.subscription-div > .subscription-form > .subscription:hover{
  background: none;
  border: 2px solid #FF7D68;
  color:#39425D;
  cursor: pointer;
}

.subscription-div > .subscription-form > input {
  margin: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #39425D;
border: 1px solid #39425D;
outline: none;
padding: 13px 50px;
/* background: ; */
background: url("../img/subscriptioninputicon.svg") , #FFFFFF;
background-repeat: no-repeat;
background-position: 5% 50%;
border-radius: 5px;
}

.subscription-div > .subscription-form > input:focus{
  box-shadow:   2px 2px 10px 0px #5E6282;
}

@media screen and (max-width: 980px){
  .subscription-div {
    padding: 10rem 80px;
    /* background-size: 81%;     */
    background-position-y: center;
    margin-left: 0px;
}
.subscription-div > p {
  line-height: 48px;
  padding: 0 0rem 20px 0rem;
}
.subscription-div > .subscription-form {
  margin-right: 0rem;
}
}
@media screen and (max-width: 480px){
  .subscription-div {
    padding: 4rem 19px;
}
.subscription-div > .subscription-form {
  flex-direction: column;
}

.subscription-div > p {
  font-size: 24px;
  line-height: 32px;
  
}

}
/* end subscription  */



/* footer  */

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.social-icons {
  margin-top: 2px;
}
.social-icons > a {
  background-color: #fff;
  border-radius: 100%;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
}

.social-icons > a:hover{
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.social-icons > .footer-fb{
  padding: 20px 26px;
}

.footer-info {
  margin-top: 40px;
}

.footer-info > span{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 124.5%;
color: #080809;
margin-bottom: 10px;
}

.footer-info > a{
text-decoration: none;
  
}
.footer-info > a > p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
  padding-top: 10px;
}

.footer-div > p{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 124.5%;
color: #5E6282;
margin-bottom: 30px;
width: 10rem;
}

@media screen and (max-width: 580px) {
  footer{
    flex-direction: column;
    text-align: center;
    
    padding: 50px 31px;
  }
 
}


/* end footer  */


/* about  */
.about-section {
  margin-top: -8rem ;
width: 100%;
height: 800px;
background: url("../img/Aboutbg.svg");
background-position: top left;
background-repeat: no-repeat;
padding: 20rem 50px 0px 50px;
margin-bottom: 100px;
}
.about-content {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  margin-left: 50%;
}
.about-section > .about-content h1{
font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 39px;
color: #000000;


}
.about-section > .about-content > span {

width: 30% ;
border: 2px solid #df6951;
margin-bottom: 10px;
}


.about-section > .about-content > p{
  font-family: 'Rokkitt';
font-weight: 300;
font-size: 21px;
line-height: 25px;
color: #000000;
}


@media screen and (max-width: 900px){
  
.about-section {
 
background-position: center;

}
  .about-content {
    
    margin-left: 0%;
}
}

@media screen and (max-width : 500px) {

  .about-section > .about-content > p {
    font-size: 14px;
    line-height: 18px;
}
.about-section {
  padding: 20rem 18px 0px 18px;
  margin-bottom: 85px;
}
  
}
/* end about  */


/* Hero  */
.heroSection{
  margin-top: -10rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url("../img/HeroBg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 8rem 0px 0px 70px;
}
.heroSection > .hero-content {
margin-top: 150px;
}
.heroSection > .hero-content > h4{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-transform: uppercase;
color: #DF6951;
}

.heroSection > .hero-content > h1 {
  font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 89px;
letter-spacing: -0.04em;
color: #181E4B;
background: url("../img/Decore.svg");
background-repeat: no-repeat;
background-position: 50% 30%;

}


.heroSection > .hero-content > p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5E6282;
  padding-right: 40px;

}

.heroSection > .hero-content > a{
  background: #F1A501;
box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
border-radius: 10px;
font-family: 'Trade Winds';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
padding: 10px 30px;
transition: all 0.5s  ease-in-out;
border: 2px solid #F1A501 ;

}


.heroSection > .hero-content > a:hover{
  background: none;
  border: 2px solid #F1A501 ;
  color: #39425D;
}
@media screen and (max-width: 900px) {
  .heroSection > .hero-image > img {
    max-width: 100%;
  }
  
.heroSection{
  align-items: center;
  padding: 12rem 0px 70px 32px;
}


.heroSection > .hero-content {
  margin-top: 0px;
  }

  .heroSection > .hero-content > h1 {
    font-size: 67px;
    line-height: 75px;
}
}

@media screen and (max-width: 500px) {
  .heroSection > .hero-image > img {
   display: none;
  }
  .heroSection > .hero-content > h1 {
    font-size: 60px;
    line-height: 69px;
}
.heroSection > .hero-content > h4 {
  font-size: 14px;
  line-height: 30px;
}
}
/* end Hero  */


/* services  */

.services-section{
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/ServiceBG1.svg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  
}
.services-section-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.services-section >  .service-sub-heading{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #5E6282;
}
.services-section >  .service-heading{
  font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 64px;
text-align: center;
text-transform: capitalize;
color: #14183E;
}


.single-service{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 267px;
  height: 314px;
transition: all 0.5s ease-in-out;
margin: 50px 20px 0px 20px;
padding: 20px;
cursor: pointer;
background: #FFFFFF;
box-shadow: 0px 2px 9px 1px rgba(110, 110, 110, 0.17);
border-radius: 16px;
}

.single-service:hover{

  background: #FFFFFF;
box-shadow: 0px 4px 21px 9px rgba(0, 0, 0, 0.31);
border-radius: 36px;
}

.single-service > .single-service-heading {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #1E1D4C;
}


.single-service > .single-service-desc{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #5E6282;
}


@media screen and (max-width: 900px) {

  .services-section-content {
    width: 100%;
}
.single-service {
  margin: 50px 10px 0px 10px;
  padding: 17px;
}
}

@media screen and (max-width: 500px) {
  .services-section {
    padding: 55px 20px;
}
  .services-section-content {
    flex-direction: column;
  }
  .services-section > .service-heading {
    font-size: 33px;
}
.single-service {
  margin: 12px 10px 0px 10px;

}

}
/* services  */



/* destination  */
.destination-section{
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/DestinationBG.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;

}


.destination-section >  .destination-sub-heading{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #5E6282;
}
.destination-section >  .destination-heading{
  font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 64px;
text-align: center;
text-transform: capitalize;
color: #14183E;
}


.destination-section-content{
  display: flex;
  align-items: center;
  text-align: center;
justify-content: space-between;
}

.single-destination-section{
  
  text-align: center;
  cursor: pointer;
transition: all 0.5s ease-in-out;
padding: 20px 30px;

}


.single-destination-section > a > p {
  position: relative;
  padding: 20px 50px;
  margin-top: -60px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 124.5%;
color: #5E6282;
background: #FFFFFF;
border-radius: 0px 0px 24px 24px;
box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.25);
}
.single-destination-section:hover {
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}


@media screen and (max-width: 900px) {
  .destination-section{
    background-position: 98% 57%;
  }
  .single-destination-section > a > img {
    max-width: 98%;
  
  }
}

@media screen and (max-width: 500px) {
  .destination-section {
    padding: 31px 20px }
  .destination-section-content {
    flex-direction: column;
  }
  .destination-section > .destination-heading {
    font-size: 33px;
}


.single-destination-section{
  
padding: 10px 30px;

}
.single-destination-section > a > img {
  max-width: 99%;

}
.single-destination-section > a > p {
  padding: 20px 15px;
}
}
/* end destination  */


/* Book Trip  */

.booktrip-section{
margin: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.booktrip-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.booktrip-content > .booktrip-subheading {
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #5E6282;
}

.booktrip-content > .booktrip-heading {

  font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 64px;
text-transform: capitalize;
color: #14183E;

}

.single-booktrip{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.single-booktrip > div{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.single-booktrip > div > .single-booktrip-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 124.5%;
  color: #5E6282;
}


.single-booktrip > div > .single-booktrip-desc{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 124.5%;
color: #5E6282;

}

.booktrip-card > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
border-radius: 26px;
}

.booktrip-card > div > strong{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  padding: 10px 0;
}


.booktrip-card > div > .booktrip-date{
  margin: 20px 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 124.5%;
letter-spacing: -0.005em;
color: #84829A;
}

.booktrip-card > div > .booktrip-date span{
  margin: 10px 20px 10px 0px;
}

.booktrip-card > div > .booktrip-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booktrip-card > div > .booktrip-icons > img{
  padding-right: 20px;
}

.booktrip-card > div > .booktrip-people{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 124.5%;
letter-spacing: -0.02em;
color: #84829A;
padding: 20px 0;
}

@media screen and (max-width: 900px) {
  .booktrip-content > .booktrip-heading {
    font-size: 35px;
}
.booktrip-card > div{
  padding: 11px;
}
}

@media screen and (max-width: 500px) {
  .booktrip-section {
    flex-direction: column;
}
}
/* end Book Trip   */


/* packages   */
.packages-section{
  background: url("../img/DestinationBG.svg");
  background-repeat: no-repeat;
  background-position: center right;
margin: 60px 0px;
display: flex;
align-items: center;
justify-content: space-around;

}
.packages-heading{
  text-align: center;
  font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 64px;
text-align: center;
text-transform: capitalize;
color: #14183E;
}
.singlepackage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singlepackage-info{
margin-top: -60px;
 width: 19.7rem;
 height: 5rem;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #c2c2c7;
  border-radius: 0px 0px 24px 24px;
}

.singlepackage-info >  strong{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 124.5%;
color: #5E6282;
margin: 5px 20px;

}

.singlepackage > img {
  width: 314px;
height: 457px;
}

@media screen and (max-width: 1000px)  {
  .singlepackage > img {
    width: 250px;
  height: 400px;
  }

  .singlepackage-info{
    margin-top: -60px;
     width: 15.7rem;
     height: 5rem;
    }
  

}

@media screen and (max-width: 800px)  {
  .singlepackage > img {
    width: 200px;
  height: 300px;
  }

  .singlepackage-info{
    margin-top: -60px;
     width: 12.7rem;
     height: 5rem;
    }
  

}

@media screen and (max-width: 500px)  {
  .packages-section{
    flex-direction: column;
  }
  .singlepackage > img {
    width: 314px;
  height: 457px;
  }

  .singlepackage-info{
    margin-top: -60px;
     width: 19.7rem;
     height: 5rem;
    }
    .singlepackage{
      margin: 0 0 20px 0;
    }
    .packages-heading {
      margin-top: 20px;
      text-align: center;
      font-family: 'Volkhov';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;
      text-align: center;
      text-transform: capitalize;
      color: #14183E;
  }
}
/* end packages  */


.Loader-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.Loader{
  width: 100%;
}