@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/* Header Start  */


/* Desktop css  */
.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.home,
.about,
.contactus,
.callus {
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 20px;
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  /* 1st */

  color: #212832;
}

.home:hover,
.about:hover,
.contactus:hover {
  color: #df6951;
}

.callus {
  border: 1px solid #212832;
  border-radius: 5px;
}
.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .mobile-menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .callus {
    color: none;
    background: none;
    border: none;
    border-radius: 0px;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #df6951;
    left: 0;
    top: 15%;
    transition: all 0.5 ease-out;
    width: 100%;
    z-index: 2;
  }

  .home,
  .about,
  .contactus,
  .callus {
    text-align: center;
    color: #ffffff;
    padding: 32px;
    width: 100%;
    transition: all 0.5 ease;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    top: 45px;
    right: 25px;
  }
}
/* Header End  */

/* Contact Start */


.contactus-section{
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url("../img/Contactus2.png");
  background-repeat: no-repeat;
  background-position: top right;
}


.contactForm {
  width: 380px;
  height: 379px;
  background: #ffffff;
  box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  z-index: 1;
 
}
.contactForm > form {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 50px 50px;
}

.contactForm > form > h4 {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  color: #3a556a;
  padding-bottom: 20px;
}


.contactForm > form > .inputArea{
  border: none;
  border-bottom: 1px solid #FFA90F;
  font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 19px;
padding: 10px;
margin-bottom: 10px;

}
.contactForm > form > .inputArea:focus{
 color: #212832;
 outline: none;
}
.contactForm > form >  button {
background: #FFA90F;
font-family: 'Rokkitt';
font-size: 20px;
color: #fff;
border-radius: 6px;
width: 50%;
border: none;
margin-top: 20px;
padding: 10px 30px;
font-weight: bold;
transition:background 1s ;
transition:color 1s ;

}
.contactForm > form >  button:hover{
  color: #FFA90F;
  border: 1px solid #FFA90F;
  background:none;
}



.contactInfo{
  width: 307px;
  z-index: 1;
}

.contactInfo > h4{
  
font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
color: #000000;
}

.contactInfo > .infoItems{
  margin-top: 20px;
  margin-left:-10px;
}

.contactInfo > .infoItems > .infoItem{
 padding: 10px;
 
}

.contactInfo > .infoItems > .infoItem > span{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
font-family: 'Rokkitt';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 24px;
color: #000000;
}

.contactInfo > .infoItems > .infoItem > span > img{
  margin-right: 10px;
}

.contactInfo > .infoItems > .infoItem > address{
  margin-left: 40px;
  margin-top: 10px;
  color: #000000;

}

.contactInfo > .infoItems > .infoItem >  p{
  margin-left: 40px;
  margin-top: 10px;
  color: #000000;

}
.contactInfo > .infoItems > .infoItem >  p{
  margin-left: 40px;
  margin-top: 10px;
  color: #000000;

}
.contactInfo > .infoItems > .infoItem > p > a{
  color: #000000;
}


.contactInfo > .infoItems > .infoItem > p > a:hover{
  color: #FFA90F;
}
.contactUsImgLeft{
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 0;
  display: block;
}
@media screen and (max-width: 1000px) {
 
.contactForm > form {
  display: flex;
  flex-direction: column;
  padding: 10px 40px 50px 40px;
}

.contactUsImgLeft{
  display: none;
}

.contactus-section{
 background-position: 10px 10px; 
}
}


@media screen and (max-width: 780px) {


  .contactus-section{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactForm {
    width: 312px}

    .contactForm > form > button{
      width: 100%;
    }

    .contactInfo > .infoItems {
      margin-top: 22px;
      margin-left: 0px;
  }
  .contactInfo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
}
/* Contact End  */



/* subscription  */
.subscription-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 80px;
 background: url("../img/subscription-background.png");
 background-repeat: no-repeat;
 margin-left: 40px;
}

.subscription-div > p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 54px;
text-align: center;
color: #5E6282;
padding: 0 10rem 20px  10rem;


}

.subscription-div > .subscription-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-div > .subscription-form > .subscription {
  padding: 10px 25px;
  margin: 10px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
  border: none;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
border-radius: 10px;
border: 2px solid #FF7D68;
transition: all 0.6s ease-in-out;

}

.subscription-div > .subscription-form > .subscription:hover{
  background: none;
  border: 2px solid #FF7D68;
  color:#39425D;
  cursor: pointer;
}

.subscription-div > .subscription-form > input {
  margin: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #39425D;
border: 1px solid #39425D;
outline: none;
padding: 13px 50px;
/* background: ; */
background: url("../img/subscriptioninputicon.png") , #FFFFFF;
background-repeat: no-repeat;
background-position: 5% 50%;
border-radius: 5px;
}

.subscription-div > .subscription-form > input:focus{
  box-shadow:   2px 2px 10px 0px #5E6282;
}

@media screen and (max-width: 980px){
  .subscription-div {
    padding: 10rem 80px;
    /* background-size: 81%;     */
    background-position-y: center;
    margin-left: 0px;
}
.subscription-div > p {
  line-height: 48px;
  padding: 0 0rem 20px 0rem;
}
.subscription-div > .subscription-form {
  margin-right: 0rem;
}
}
@media screen and (max-width: 480px){
  .subscription-div {
    padding: 4rem 19px;
}
.subscription-div > .subscription-form {
  flex-direction: column;
}

.subscription-div > p {
  font-size: 24px;
  line-height: 32px;
  
}

}
/* end subscription  */
